{% extends 'blog/base.html' %}
{% load blog_tags %}
{% block title %}
    My Blog
{% endblock title %}

{% block content %}
    <h1>Reference</h1>
        
    {% for post in posts %}
        <h2>
            <a href="{{post.get_absolute_url}}">
                {{post.title}}
            </a>
            <h5>
                {{ post.body|markdown|truncatewords_html:100 }}
                <!-- Test Keterangan Test Keterangan Test Keterangan Test Keterangan Test Keterangan  -->
            </h5>
        </h2>
        <p>
            <a href="{{post.link}}">
                {{post.link}}
            </a>
        </p>   

        <p class="date">
            Published {{post.publish}} by {{post.author}}
            <!-- Ini tempat published -->
        </p>
        <p>
            {% if post.author == request.user %}
                <a href="{% url 'blog:post_update' post.id post.slug %}">Update</a> | 
                <a href="{% url 'blog:post_delete' post.id post.slug %}">Delete</a>
            {% endif %}
        </p>
        <p>
            ----------------------------------------------------------------------------------------------------------------------------------------
        </p>
    {% endfor %}

    <!-- {% include "pagination.html" with page=posts %} -->
    {% include "pagination.html" with page=page_obj %}
{% endblock content %}